/*
root and generic rules
*/


/*

/font-family: "Butterfly kids";sans-serif;
font-family: 'Oswald', sans-serif;
*/

/* 
colors 
top-nave-header => 
link-text
background 
active-button 

top section radial-gradient #1--#2
search box radial-gradient #3-#4

*/

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

:root {
    --prim: #213349;
    --sec: #ff8901;
    --productText: #ecffff;;
    --bgColor: #ffffff;
    --topHeaderColor: #4cc4c1;
    --topHeaderGradient: #191a1e;
    --bannerColor: #3dc4b6;
    --buttonColor: #3ac697;    
    --headerFont: 'Pattaya', sans-serif;
    --subheaderFont: 'Oswald', sans-serif;
    --textFont: 'Roboto', sans-serif;
    --footerColor: #3cc3b5;
    --colophonColor: #2ea89b;
}

 

/*generic rules*/

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
    margin: 0;
    padding: 0;
}

main {
    height: auto;
}

h2, h3 {
    /*
    margin: 0;
    padding: 0;
    font-family: var(--subheaderFont);
    text-transform: uppercase;*/
}

h2 {
    font-family: var(--textFont);
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--bgColor);
    font-family: var(--subheaderFont);
    transition: color 0.5s ease;
}


a:hover {
    font-family: var(--subheaderFont);
    color: var(--highlightColor);
}

p { /*
    margin: 0;
    padding: 0 20px;
    font-family: var(--textFont);
    line-height: 1.5;*/
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-transform: uppercase; 
}

section {
    width: 100%;
    height: auto;
}
.inner {
    width: 80%;
    margin: 0 auto;
}

.text {
    width: 95%;
}
/*end generic rules*/

.top-header {
    position: relative;
    height: 60px;
    width: 100%;
}

h1 {
    position: absolute;
    top: 0;
    left: 10%;
    margin: 0;
    padding-top: 10px;
    font-family: var(--headerFont);
    font-size: 40px;
    text-transform: capitalize;
    color: var(--bannerColor);
}

.search-div {
    position: relative;
}

#search {
    position: absolute;
    top: 20px;
    left: 30%;
    width: 400px;
    height: 30px;
    font-size: 24px;
    color: var(--bannerColor);
    padding: 10px 0 10px 0;
    border: 1px solid gray;
    border-radius: 2%;
}

.icon-search {
    position: absolute;
    top: 22px;
    width: 16px;
    height: 24px;
    left: 30%;
    padding-top: 5px;
    color: gray;
}

.cart-total {
    position: absolute;
    top: 10px;
    right: 5%;
    width: 10%;
    height: auto;
    max-height: 40px;
    right: 10%;
    color: gray;
}

.cart-total a {
    color: var(--bannerColor);
    font-size: 30px;
}

#cart {
    position: absolute;
    top: 5px;
}



#total {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: auto;
    margin: 0;
    max-height: 40px;
    font-family: var(--subheaderFont);
    font-size: 30px;
}

/* .top-nav .inner {
    position: relative;
} */

.top-nav {
    background-color: var(--bannerColor);
    min-height: 60px;
}

.top-nav-list-item {
    border-right: 2px solid var(--bgColor);
    display: inline;
    width: calc( 100% / 9);
    font-size: 22px;
    margin-left: 9px;
    padding-right: 9px;
}

.top-nav-list-item:nth-child(1) {
    margin-left: 0;
}

.top-nav-list-item:nth-child(9) {
    border-right: none;
}

.top-section .inner {
    position: relative;
}
.top-section {
    position:absolute;
    min-height: 450px;
    background-color: var(--bannerColor);
    background: radial-gradient(at 0% 0%, var(--footerColor), var(--colophonColor) );
}

.inner .top-featured-product {
    height: auto;
    min-height: 400px;
}

#levis-tee {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 40%;
    max-width: 300px;
    min-width: 220px;
    height: auto;
    /*
    background-color: var(--bannerColor);*/
}


main {
    height: 220vh;
}
.featured-product-section .inner {
    position: relative;
}

.top-featured-product-description {
    position: absolute;
    left: 50%;
    max-width: 450px;
    min-height: 200px;
}

.top-featured-product-description h2 {
    margin: 0;
    padding: 0;
    color: var(--productText);
    font-size: 48px;
    font-family: var(--subheaderFont);
    text-transform: uppercase;
}

.top-featured-product-description p {
    position: absolute;
    left: 0;
    top: 140px;
    margin: 0;
    padding: 0;
    font-family: var(--textFont);
    font-size: 18px;
    color: var(--bgColor);
    line-height: 1.5;
}


#top-shop-button {
    position: absolute;
    top: 240px;
    width: 150px;
    height: 50px;
    margin: 5px 20px 5px 0px;
    padding:  5px 5px 15px 10px;
    font-size: 28px;
    font-family: var(--subheaderFont);
    text-transform: uppercase;
    background-color: var(--bannerColor);
    border: 2px solid white;
    border-radius: 5%;
}

.shop-button:hover {
    width: 100px;
    height: 80px;
    margin: 5px 20px 5px 0px;
    padding:  5px;
    font-size: 28px;
    font-family: var(--subheaderFont);
    color: var(--colophonColor);
    text-transform: uppercase;
    background-color: var(--bannerColor);
    border: 2px solid var(--colophonColor);
    border-radius: 5%;
}

.sliders {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 20px auto 0 auto;
    padding: 10px 10px 10px 0;
    width: 200px;
    height: 35px;
}

.slider {
    width: 20px;
    height: 30px;
    margin: 5px;
    padding-top: 5px;
    padding-left: 20px;
    display: inline;
    background-color: var(--bgColor);
    border-radius: 50%;
}

.slider:hover {
    background-color: var(--buttonColor);

}

.featured-products-section .inner {
    position: relative;
}

.featured-product-section {
    position: absolute;
    top: 580px;
    height: auto;
    min-height: 160px;
    max-height: 200px;
}

.arrow-button {
    position: absolute;
    top: 0px;
    width: 20px;
    height: 20px;
    margin: 0;
    transform: scale(2,4);
    color: lightgray;
}

#left-arrow {
    left: 20px;
}

#right-arrow {
    right: 20px;
}

.top-product {
    position: absolute;
    width: calc(100% / 3);
    height: auto;
    min-height: 150px;
}

#top-product-1 {
    top: 0;
    left: 0;
}

#top-product-2 {
    top: 0;
    left: calc(100% / 3);
}

#top-product-3 {
    top: 0;
    left: calc(200% / 3);
}

.top-product .product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 180px;
    height: auto;
}

.top-product h3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    margin: 0;
    padding: 0;
    font-family: var(--subheaderFont);
    font-size: 28px;
    text-transform: uppercase;
    color: gray;
}

.top-product .shop-button a {
    position: absolute;
    width: 80px;
    height: 50px;
    bottom: 0;
    left: 60%;
    margin: 5px 20px 5px 0px;
    padding:  5px 5px 15px 10px;
    background-color: var(--bannerColor);
    font-family: var(--subheaderFont);
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 5%;
}

.featured-products-section .inner {
    position: relative;
}

.featured-products-section {
    position: absolute;
    top: 750px;
    height: auto;
    min-height: 550px;
}

#featured-products-header {
    background-color: var(--bannerColor);
    color: var(--bgColor);
    font-size: 28px;
    height: 60px;
    margin: 0px;
    padding: 10px 0 0 125px;
    font-family: var(--subheaderFont);
    text-transform: uppercase;
}

.featured-product {
    position: absolute;
    width: calc(90% / 3);
    height: auto;
    min-height: 240px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 5px solid var(--topHeaderColor);
}

.featured-product .product-image {
    position: absolute;
    top: 0;
    left: calc(100% / 6);
    width: 50%;
    max-width: 180px;
    height: auto;
}

.featured-product .sub-header {
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: var(--subheaderFont);
    font-size: 28px;
    text-transform: uppercase;
    color: gray;
}


#product-1, #product-2, #product-3 {
    top: 40px;
}

#product-4, #product-5, #product-6 {
    top: 300px;
}

#product-1, #product-4 {
    left: 0;
}

#product-2, #product-5 {
    left:  calc(100% / 3);
}

#product-3, #product-6 {
    left: calc(200% / 3);
}

.featured-product .product-name {
    position: absolute;
    top: 40%;
    left: calc(100% / 6);
}

.featured-product .product-price {
    position: absolute;
    top: 60%;
    margin-top: 5px;
    left: calc(100% / 6);
}

.featured-product button {
    position: absolute;
    top: 60%;
    right: 30%;
    margin-top: 10px;
    background-color: var(--bannerColor);
    font-family: var(--subheaderFont);
    font-size: 22px;
    text-transform: uppercase;
    border: none;
    border-radius: 5%;
    color: var(--bgColor);
}

.footer .inner {
    position: relative;
}

.footer {
    width: 100%;
    height: auto;
    min-height: 350px;
    background-color: var(--bannerColor);    
}

.footer-nav-list h2 {
    /* position: absolute; */
    top:0;
    left: 0;
    margin: 20px 0;
}

.footer-nav-list {
    position: absolute;
    width: 25%;
    min-width: 250px;
    height: auto;
    min-height: 250px;
}

.footer-nav {
    position: absolute;
    top: 60px;
    background-color: var(--bannerColor);
    
}

.footer-header {
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: var(--subheaderFont);
    font-size: 28px;
    text-transform: uppercase;
    color: var(--bgColor);
}

.footer-nav-list-item {
    top: 30px;
    margin-left: 0;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 1.5;
}

#footer-nav-1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#footer-nav-2 {
    position: absolute;
    top: 0px;
    left: 25%;
}

#footer-nav-3 {
    position: absolute;
    top: 0px;
    left: 50%;
}

#footer-nav-4 {
    position: absolute;
    top: 0px;
    left: 75%;
}

.colophon {
    position: relative;
    top: 350px;
    width: 100%;
    height: 60px;
    background-color: var(--colophonColor);
}

.colophon-text {
    position: absolute;
    left: 40%;
    color: var(--bgColor);
    font-size: 16px;
    font-family: var(--textFont);
    text-transform: capitalize;
    
}